*{
	font-weight:bold;
	font-family:Arial;
	font-size:large;
	box-sizing:border-box;
}
p{
	padding:0.5rem;
	border-radius:0.25rem;
	background-color:gray;
	margin:0.25rem;
	height:calc(100% - 0.5rem);
	width:calc(100% - 0.5rem);
}
div{
	gap:0.25rem;
	justify-content:center;
	align-items:center;
}
button{
	padding:0.5rem;
	border-radius:0.25rem;
	border:none;
	background-color:black;
	color:white;
	margin:0.25rem;
	height:calc(100% - 0.5rem);
	width:calc(100% - 0.5rem);
}
button:hover{
	background-color:darkgray;
}
.sp{
	gap:0.25rem;
	display:flex;
	justify-content:center;
	padding:0.25rem;
}
input{
	padding:0.5rem;
	border-radius:0.25rem;
}
span{
	padding:0.5rem;
	border-radius:0.25rem;
	background-color:red;
	color:white;
}
.sps{
	background-color:yellow;
	color:black;
}
h1,h2,h3,h4,h5,h6{
	padding:0.25rem;
	margin:0.25rem;
}
@media only screen and (max-width: 768px) {
  html{
	  font-size:12px;
  }
}
@media only screen and (max-width: 640px) {
  html{
	  font-size:10px;
  }
}
@media only screen and (max-width: 480px) {
  html{
	  font-size:8px;
  }
}